// Change your color you want --- please input rgb color (ex: 22,33,44)

// THEME PALETTE 9 ==========================================
:root {
    --c-primary-50: 225, 177, 235;
    --c-primary-100: 219, 161, 230;
    --c-primary-200: 207, 129, 222;
    --c-primary-300: 195, 97, 213;
    --c-primary-400: 182, 64, 205;
    --c-primary-500: 159, 47, 181;
    --c-primary-600: 131, 39, 149;
    --c-primary-700: 102, 30, 116;
    --c-primary-800: 74, 22, 84;
    --c-primary-900: 35, 10, 40;
  
    // SECONDARY COLOR
    --c-secondary-50: 252, 223, 236;
    --c-secondary-100: 250, 205, 225;
    --c-secondary-200: 247, 168, 202;
    --c-secondary-300: 243, 130, 179;
    --c-secondary-400: 239, 93, 157;
    --c-secondary-500: 236, 56, 134;
    --c-secondary-600: 229, 22, 112;
    --c-secondary-700: 178, 17, 87;
    --c-secondary-800: 127, 12, 62;
    --c-secondary-900: 75, 7, 37;
  
    // NEUTRAL COLOR
    --c-neutral-50: 250, 250, 250;
    --c-neutral-100: 244, 244, 245;
    --c-neutral-200: 228, 228, 231;
    --c-neutral-300: 212, 212, 216;
    --c-neutral-400: 161, 161, 170;
    --c-neutral-500: 113, 113, 122;
    --c-neutral-600: 82, 82, 91;
    --c-neutral-700: 63, 63, 70;
    --c-neutral-800: 39, 39, 42;
    --c-neutral-900: 24, 24, 27;
  }